.form {
    max-width: 1024px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}

.form h1 {
    background-color: #333;
    color: #fff;
}

.form label {
    display: block;
}
.form input {
    line-height: 1rem;
    border-radius: 4px;
}
.form button {
    display: block;
    margin-top: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(87, 243, 87);
    border-radius: 8px;
    
}

.form-control {
    width:auto;
    background-color: #ddd;
}